#lnb{
    /*box-shadow: 1px 1px 5px  #888888;*/
    z-index: 100;
    font-size: 14px;
}
.full-left-nav{
    position: fixed;
    left: 0;
    top: 0;
    /*width: 200px;*/
    width: 230px;
    height: 100%;
}
.full-left-nav .lnb-inner{
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 80px 0 0;
}
.full-left-nav .lnb-sideinner{
    margin: 0 20px;
}
.lnbItem{
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.lnbItem a{
    display: block;
    text-align: left;
}
.lnbItem .lnbItemTit{
    font-weight: bold;
    padding-bottom: 10px;
}
.lnbItem .lnbItemTit .addCateg{
    float: right;
    width: 20px;
    text-align: right;
    cursor: pointer;
}
.lnbItem .categList .newCateg{
    border:1px solid #eee;
    border-radius:3px;
    padding:5px 0;
}
.lnbItem .categList li{
    position: relative;
    width: 100%;
}
.lnbItem .categList li .deleteCateg{
    position: absolute;
    right: 0;
    top: 3px;
    display: block;
    cursor: pointer;
    z-index: 100;
}
.lnbItem .lnbItemList{
    width: 100%;
    margin: 0 auto;
}
.lnbItem .lnbItemList li{
    position: relative;
    padding: 0 0 5px 5px;
}
.lnbItem .lnbItemList li i{
    padding-right: 5px;
}
.lnbItem .lnbItemList li .num{
    display: inline-block;
    background: #ccc;
    border-radius: 5px;
    float: right;
    color: #fff;
    padding: 0 5px;
    font-size: 14px;
}
/*.lnbItem .lnbItemList li.cBtn a{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}
.lnbItem .lnbItemList li.cBtn a:hover{
    background: #274555;
    color: #fff;
}
.lnbItem .lnbItemList li.cBtn a:hover i{
    color:#fff;
}
.lnbItem .lnbItemList li.cBtn a.croBtn{
    border:2px solid #374555;
}
.lnbItem .lnbItemList li.cBtn a.fupBtn{
    background-color: #274555;
}*/
.croList a{
    display: inline;
}
.cBtn{
    float: right;
}
a.croBtn{
    color: #fff;
    background-color: #0d94d0;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}


.lnbItem .lnbItemList li.on a{
    color: #3b8686;
    font-weight: bold;
}
.lnbItem .categList li a span.categTit{
    font-weight: bold;
    font-style: italic;
}
.lnbItem .categList li .categBtn{
    position: absolute;
    top:0;
    right: 0;
}
.lnbItem .categList li .categBtn span{
    /*display: inline-block;*/
    cursor: pointer;
    z-index: 100;
}
.lnbItem .categList li .categBtn span a{
    display: inline-block;
}
.newNoteBtn{
    width: 100%;
    background-color: #0d94d0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    margin-bottom: 20px;
}
.newNoteBtn a{
    display: block;
    padding: 10px 0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
}
.newNoteBtn a i{
    padding-right: 10px;
}

#bankSub{
    position: absolute;
    left: 230px;
    top:0;
    width: 300px;
    /*height: 100%;*/
    background-color: #fff;
   /* box-shadow: 1px 1px 5px  #888888;*/
}
#bankSub .bsinner{
    padding: 60px 0 0;
    border-right: 1px solid #eee;
}
.listFilter{
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    padding: 10px;
    text-align: left;
}
.listFilter p:first-child{
    font-weight: bold;
}
.listFilter p{
    display: inline-block;
}
.listFilter p i{
    padding-right: 5px;
}
.listFilter p.filter{
    float: right
}
.listFilter span{
    font-weight: bold;
}
.listFilter p.totalList{
    float: right;
}
.subSearch{
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.subSearch .search-inner{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;

}
/*add 2017-07-17 검색창 영역 수정*/
.subSearch .search-inner input{
    width:90%;
    padding: 5px 0 5px;
}
.subSearch .search-inner a{
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
}
.bankSubList{

}
.bankSubList .on{
    background-color:#d7eaf6;
    border-right: 3px solid #2980b9;
}
.bankSubList a{
    display: block;
    text-align: left;
}
.bankSubList  .yetReadList{
    background-color:#eee;
    border-bottom:1px solid #fff;
}
/* add 2017-07-17 내노트 sublist */
.my-note{

}
.my-note-subList{
    text-align: left;
}

.my-note-subList li{
}
.my-note-subList li:first-child{
    padding-top: 10px;
}
.my-note-subList li .my-note-inner{
    padding: 0 10px;
}
.my-note-subList li.on{
    background-color:#d7eaf6;
}
.my-note-subList li.on  .fa-calendar-o{
    color: #2980b9;
}
.my-note-subList li .my-note-bg{
    /*background: url('../images/bg_timeline.png') repeat-y 5px 0;*/
    border-left: 1px solid #ccc;
    margin-left: 5px;
    padding-bottom: 20px;
}
.my-note-subList li.on .my-note-bg{
    /*background: url('../images/bg_timeline_on.png') repeat-y 5px 0;*/
    border-left: 1px solid #2980b9;
}
.my-note-subList .date{
    font-weight: bold;
    color: #4f4f4f;
}
.my-note-subList .date i{
    padding-right: 10px;
}

.my-note-subList .thumb{
    padding-left: 20px;
}
.my-note-subList .thumb .thumb-tit{
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}
.my-note-subList .thumb .thumb-txt{
    text-align: justify;
    padding-bottom: 5px;
}
/*.my-note-subList .thumb .thumb-img{
    padding-bottom: 20px;
}*/
.my-note-subList .thumb .thumb-img img{
    width: 100%;
    height: 165px;
}


/*까페글*/
.cafeInfo{
    position: relative;
    width: 100%;
    height: 60px;
    border-top: 1px solid #eee;
    padding: 10px 0
}
.cafeInfo div{
    float: left;
}
.cafeInfo .cafeinner{
    padding: 0 10px;
}
.cafeInfo .cafeLogo{
    width: 60px;
    line-height: 60px;
    height: 60px;
    /*background-color: #eee;*/
    text-align: center;
    border-radius: 50%;
}
.cafeInfo .cafeLogo p{
    padding: 10px;
}
.cafeInfo .cafeLogo img{
    width: 100%;
    height:100%;
    border-radius:50%;
}
.cafeInfo .cafeTxt{
    width: 180px;
    padding-top: 10px;
    padding-left: 10px;
}
.cafeInfo .cafeTxt .tit{
    font-weight: bold;
    display: -webkit-box;
    /*max-height: px;*/
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
}
.cafeInfo .cafeTxt .date{
    font-size: 11px;
}
.cafeInfo .cafeTxt p{
}
.cafeInfo div.bookMarkBtn{
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 60px;
}
.cafeInfo div.bookMarkBtn i{
    color: #fdd66d;
    font-size: 16px;
}

/*
.cafeInfo div.deleteBtn i{
    color: #ccc;
    font-size: 16px;
}
.cafeInfo div.deleteBtn i:hover{
    color: darkred;
}
*/

/*글 전체 보여지는 영역*/
#detailView{
    position: absolute;
    top:0px;
    left: 530px;
    text-align: left;
    /* width: 100%;*/
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    min-width: 800px;
    background: #f6f6f6;
}
.dvinner{
    position: relative;
    padding-top: 60px;
    /* padding: 80px 20px 0 20px;*/
}
/*상세페이지 넓이 조절*/
.page{
    margin: 0 auto;
    max-width: 800px;
    min-width: 300px;
    /*max-width: 1200px;
    min-width: 800px;*/
    padding: 0 20px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.page .p-top{
    /*position: fixed;*/
    width: 100%;
    height: 80px;
    padding-top: 30px;
    /* border-bottom: 1px solid #ccc;*/
    /*    background-color: #eee;*/
}
.p-top .top-inner{
    padding: 7px 20px;
}
.p-top .p-info{
    float: left;
}
.p-top .p-info p{
    padding-bottom: 5px;
    color: #4f4f4f;
    font-weight: bold;
    font-size: 14px;
}
.p-top .p-info .p-tit{
    font-size: 18px;
}
/*detailView icon Button*/
.p-btn{
    margin: 0 auto;
    max-width: 800px;
    min-width: 300px;
    padding-top: 20px;
}
.p-btn>ul{
    float: right;
    padding-bottom: 20px;
}
.p-btn ul li{
    float: left;
    text-align: center;
    padding-left: 5px;
}
.p-btn ul li a{
    position: relative;
    display: block;
    color:  dimgray;
}
.p-btn ul li a:hover{
    color: #0d94d0;
}
.p-btn ul li a.on{
    color: #0d94d0;
}
.p-btn>ul>li>a .toolTip{
    position: absolute;
    top:30px;
    left:50%;
    margin-left: -25px;
    width: 50px;
    padding: 5px;
    background: #0d94d0;
    color: #fff;
    border-radius: 5px;
    z-index: 300;
    /*text-align: center;*/
}
.p-btn>ul>li>a .toolTip:after{
    content:'';
    position:absolute;
    width:0;
    height:0;
    border-style:solid;
    border-width:5px 5px;
    left:50%;
    margin-left:-5px;
    border-color:transparent transparent #0d94d0 transparent; top:-10px;
}
.p-btn ul li i{
    font-size: 16px;
    padding: 3px 5px 0;
}
.p-btn ul li i::before {
    text-shadow: 0.1px 0px 2px #ccc;
}
.page .p-txt{
    font-size: 14px;
    /*padding-top: 80px;*/
}
.p-inner{
    padding: 20px;
    text-align: justify;
    /*height: 100%;
    overflow: hidden;
    overflow-y: scroll;*/
}
/*카테고리 이동창*/
.moveCateg{
    position: relative;
}
a.moveCategBtn.on{
     color: #fdd66d;
 }
.moveCateg .selCateg{
    display: none;
    position: absolute;
    width: 200px;
    left:50%;
    top:30px;
    margin-left: -100px;
    background: #fff;
    border: 1px solid #ececec;
    border-radius: 6px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04), -6px 8px 15px rgba(0, 0, 0, 0.04), 6px 8px 15px rgba(0, 0, 0, 0.04);
    text-align: left;
}
.moveCateg .selCateg.on{
    display: block;
}


i.fa-star-o.on{
    color: #fdd66d;
}


.selCateg .headTit{
    padding: 5px;
    background: #eee;
    font-weight: bold;
}
.selCateg .selCateg-inner{
    padding: 10px 20px 10px;
}
/*.selCateg .selList ul li.new{
    padding-left: 0;
    padding-bottom: 10px;
    font-weight: lighter;
}*/
.selCateg .selList ul li{
    float: none;
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}
.selCateg .selList ul li i{
    padding-right: 5px;
}
.selCateg .selBtn{
    padding-top: 10px;
    text-align: center;
}
.selCateg .selBtn div{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 12px;
    margin: 0 5px;
    cursor: pointer;
}
/*글감수집*/
#cList{
    position: relative;
    width: 100%;
    text-align: left;
}
.c-inner{
    position: absolute;
    width: 100%;
    left: 230px;
}
.c-list-tit{
    padding: 20px;
}
.c-list-tit p{
    font-size: 18px;
    border-left: 3px solid #fdd66d;
    padding-left: 5px;
}
.c-table-wrap{
    padding: 20px;
}
.c-table-wrap table{
    width: 100%;
}
.c-table-wrap table thead{
    /*text-align: center;*/
    border-bottom: 2px solid #fdd66d;
}
.c-table-wrap table th{
    padding-bottom: 10px;
}
.c-table-wrap table td{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
}
.c-page_num{
    width: 100%;
    margin: 0 auto;
}
.c-page_num ul{
    text-align: center;
}
.c-page_num ul li{
    display: inline-block;
}
.c-page_num ul li a.on{
    color: #fdd66d;
    font-weight: bold;
}
.c-page_num ul li.arrow{
    padding: 0 10px;
}
.c-page_num ul li.arrow i{
    color: #eee;
}
.c-page_num ul li.arrow i:hover{
    color: #fdd66d;
}
