@charset "utf-8";
/* Reset */
html,body{width:100%;height:100%; overflow:hidden}
html{overflow-y:auto;font-size:10px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:Malgun Gothic,'맑은고딕',Helvetica,AppleSDGothicNeo,sans-serif;font-size:12px;color:#555}
body{background-color:#fff;text-align:center;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#555;text-decoration:none}
a:hover{text-decoration:none}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0;display: none;}
table{border-collapse:collapse;border-spacing:0}
input::-ms-clear{display:none}
input {outline: none;border: 0px;}
*:focus {outline: none;}
/* Hidden */
.blind {position:absolute;left:0;top:-9999em}
.hide{display: none;}
/* Clearfix */
.clearfix {*zoom:1}
.clearfix:after {content:'';display:block;clear:both}

i{font-size: 12px;}

/*guide_style*/
@font-face {
    font-family: 'tvN_Bold';
    src: url('../fonts/tvN_Bold.ttf');
}

@font-face {
    font-family: 'tvN_Medium';
    src: url('../fonts/tvN_Medium.ttf');
}
/*.dimmed{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}*/


/*
::-webkit-scrollbar {
    display: none;
}
*/

#scrollStyle::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#scrollStyle::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

#scrollStyle::-webkit-scrollbar-thumb
{
    background-color: #253137;
   /* border: 2px solid #555555;*/
}

/*fontawesome*/
i.fa-plus{
    color: #2980b9;
}
i.fa-pencil{
    color:#555;
}
i.fa-times{
    color:#ccc;
}


#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    /*background: #f6f6f6;*/
}
#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    /*box-shadow: 1px 1px 1px  #888888;*/
    background-color: #fff;
    /*background-color: cadetblue;*/
    /*background-image: linear-gradient( 135deg, #5EFCE8 0%, #736EFE 100%);*/
    z-index: 1000;
    border-bottom:1px solid #eee;
}
#header .hinner{
    position: relative;
    width: 100%;
}
#header div{float: left;}
#header .hleft{
    width: 229px;
    height:61px;
    background: #263238;

}
#header .hleft h1 {
    font-family: 'Fredericka the Great', cursive;
    /*font-family: 'tvN_Bold';*/
    text-align: left;
    /*text-transform: uppercase;*/
    font-size: 32px;
}
#header .hleft h1 a{
    display: block;
    color: #4f4f4f;
    font-weight: normal;
    width: 170px;
    height:60px;
    overflow: hidden;
    margin: 0 auto;
}
#header .hleft h1 a img{
    width: 100%;
}
#header .hcenter{
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -384px;
    width: 768px;


}

.menubar{
    display: block;
    position: absolute;
    left:0;
    width: 60px;
    height: 60px;
    /*background: #818181;*/
}
.menubar .menubarIcon-wrap{
    padding-left: 15px;
    padding-top: 18px;
}
#menubarIcon{
    width: 30px;
    height: 30px;
    position: relative;
    /*margin: 50px auto;*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

}

#menubarIcon span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ccc;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menubarIcon span:nth-child(1) {
    top: 0px;
}

#menubarIcon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 10px;
}

#menubarIcon span:nth-child(4) {
    top: 20px;
}

#menubarIcon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#menubarIcon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menubarIcon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 9px;
}

#menubarIcon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


/*#header .hleft .menubar i.fa-bars{
    font-size: 16px;
    color: #fff;
}*/
#header .hright{
    position: relative;
    float: right;
    padding-right: 20px;
}
#header .hright div{

}
#header .hright .userInfo{

}
#header .hright .userInfo .pic{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-right: 5px;
}
#header .hright .userInfo .pic img{
    width: 100%;
    border-radius: 50%;
}
#header .hright .userInfo .name{
    padding-right: 20px;
}
#header .hright .userInfo .name a{
    display: block;

}
#header .hright .userInfo .name span{
    font-weight: bold;
    font-size: 14px;
}

#header .hright .userBtn{
    display: none;
    position: absolute;
    width: 150px;
    left:50%;
    top:50px;
    margin-left: -110px;
    background: #fff;
    border: 1px solid #ececec;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), -6px 3px 5px rgba(0, 0, 0, 0.1), 6px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index:500;
}
#header .hright .userBtn:after{
    /*content:'';
    position:absolute;
    width:0;
    height:0;
    border-style:solid;
    border-width:7px 7px;
    left:50%;
    margin-left:-5px;
    border-color:transparent transparent #eee transparent;
    top:-14px;*/
}
#header .hright .userBtn .userBtn-inner{
    width: 100%;
}
#header .hright .userBtn ul{
    padding-left: 10px;
}
#header .hright .userBtn ul li{
    height: 40px;
    line-height: 40px;
}
#header .hright .userBtn ul li i{
    padding-right: 10px;
}
#header .hright .userBtn ul li a{
    display: block;
}
#header .hright .notice,#header .hright .search{
    position: relative;
    width: 40px;
    /*height: 100%;*/
    /*background-color: #ccc;*/
}
#header .hright .notice a, #header .hright .search a{
    display: block;
}
#header .hright .notice a i,#header .hright .search a i{
    font-size: 18px;
}
#header .hright .notice .noti-num{
    position: absolute;
    top:15px;
    width: 15px;
    height:15px;
    background: #E71D36;
    padding: 2px;
    border-radius: 50%;
    color: #fff;
    line-height: 15px;
}

#contents{
    height: 100%;
}
#contents .conInner{
    width: 100%;
    height: 100%;
    /* padding-top: 60px;*/
}


/*layer popup*/

[class^="pop-wrap"] {
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    background: #fff;
    z-index: 10001;
    /*border: 1px solid #896e4a;*/
}
.pop-header {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    /*padding-top: 10px;*/
    /* padding-left: 25px;*/
    color: #fff;
    background: #2e6da4;
    text-align: center;
   /* border-bottom: 1px solid #ccc;*/
}
.pop-header span{
    font-weight: bold;
    font-size:15px;
    text-align: center;
}
.pop-header span i.fa-download{
    padding-right: 5px;
    font-size: 14px;
}
.pop-header i{
    font-size: 18px;
}
.pop-header .btnp-close {
    position: absolute;
    right: 10px;
}
.pop-cont {
    position: relative;
    /* padding: 25px;*/
}
.pop-msg{
    padding: 20px 0;
}
.pop-btn{
    padding: 10px 0;
}
.pop-btn a{padding: 10px 10px;}
.layer-scroll {
    overflow:hidden;
}


/*creq-popup*/
#cReqPop{}
.sns-tab{
    background: #2e6da4;
    padding-bottom: 30px;
}
.sns-tab li{
    position: relative;
    display: inline-block;
    padding: 0 20px;
   /*border-bottom: 1px solid #ccc;*/
    /*border-left: 1px solid #ccc;*/
}
.sns-tab li.on:after{
    content:'';
    position:absolute;
    width:0;
    height:0;
    border-style:solid;
    border-width:10px 10px;
    left:45%;
    bottom:-22px;
    margin-left:-5px;
    border-color: #2e6da4 transparent transparent transparent;
    z-index: 1000;
}
.sns-tab li:first-child{
    border-left: 0px;
}
.sns-tab li a{
    display: block;
    padding: 10px 0;
}
.sns-tab li a img{
    width: 50px;
    height: 50px;
   /* border-radius: 50%;*/
}
.sns-tab li a div{
    padding-top:10px;
    font-weight: bold;
    color: #fff;
}
.sns-tab li.on{
    /*background: #ccc;*/
   /* border-radius: 5px 5px 0 0;
    border-top:1px solid #0d94d0;
    border-right:1px solid #0d94d0;
    border-left: 0px;
    box-shadow: inset -10px 0 5px -5px hsla(0,0%,0%,.25);*/
}
.sns-tab li.on a img{
    width: 50px;
    height:50px;
    /*border: 2px solid #4f4f4f;*/
    /*border-radius: 50%;*/
}
.pop-cont .cssBox{
    width: 460px;
    height: 30px;
    position: absolute;
    background: #eee;
    top: 100px;
    left: 20px;
}
.pop-login-wrap{
    position: relative;
    padding: 0 20px 20px;
}
.pop-login{
    text-align: left;
    padding: 10px 20px 10px;
    background: #eee;
}
.pop-login .tit{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.pop-login .notice{
    padding-bottom: 30px;
}
.pop-login .log-form{
    text-align: center;
    padding-bottom: 20px;
}
.pop-login .log-form input{
    display: block;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 5px;
}


.pop-login .log-form .log-formBtn{
    width: 222px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;

}
.pop-login .log-form .log-formBtn a{
    display: block;
    padding: 10px;
    color: #fff;
}
.pop-login .n-log-form .log-formBtn{
    background-color: #2db400;
}
.pop-login .d-log-form .log-formBtn{
    background-color: #618ffc;
}
.pop-login .f-log-form .log-formBtn{
    background-color: #3c5a9a;
}
.pop-login .log-form .log-notice{
    /*padding-bottom: 20px;*/
}
.log-notice span{
    color: darkred;
}


/*다음 서비스 준비중*/
.login2{
    position: relative;
}
.login2 .d-dimmed{
    position: absolute;
    top: 80px;
    width: 420px;
    background: rgba(0,0,0,0.4);
    z-index: 2000;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 70px 0;
    font-weight: bold;
    border-radius: 5px;
}

/*footer*/
#footer{
    position: fixed;
    bottom:0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #eaeaea;
    z-index: 200;

}
#footer p{
    color:#676767;
}
