
/*login*/

.loginWrap {
    /* Set rules to fill background */
    min-height: 100%;
    /*min-width: 768px;*/
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    /* position: fixed;
  top: 0;
  left: 0;*/
    background: url(../images/bg_login3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.loginWrap #header{background: none;}
.loginWrap .inner {
    width: 768px;
    padding-top: 130px;
    margin: 0 auto;
}

.login .tit {
    font-family: 'tvN_Bold';
    font-size: 80px;
    letter-spacing: 20px
}
.login .tit i{
    font-size: 50px;
    
}
.login .stit {
    font-family: 'tvN_Bold';
    font-size: 32px;
    padding-bottom: 50px;
}
.snsLogin,
.eduniLogin {
    float: left;
    width: 50%;
    text-align: center;
}

.snsLogin ul {
    padding-top: 50px;
}

.snsLogin ul li {
    display: inline-block;
    width: 200px;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.snsLogin ul li a {
    color: #fff;
    text-transform: uppercase;
}

.snsLogin ul li.fBtn {
    background: #3b5998;
}

.snsLogin ul li.nBtn {
    background: #3eaf0e;
}

.snsLogin ul li.kBtn {
    background: #f9e000;
}

.snsLogin .findSns a {
    /*font-family: 'tvN_Bold';*/
    font-size: 12px;
    color: #4f4f4f;
    letter-spacing: 2px;
    text-decoration: underline;
}

.eduniLogin .eduni {
    font-family: 'tvN_Bold';
    font-size: 24px;
    color: #4f4f4f;
    letter-spacing: 2px;
    height: 50px;
    line-height: 50px;
}

.eduniLogin form fieldset input {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.eduniLogin .formBtn {
    width: 200px;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: darkgreen;
}

.eduniLogin .formBtn a {
    color: #fff;
}

.eduniLogin .notice {
    display: none;
    padding: 10px;
    color: firebrick;
}

.loginChk {
    /*font-family: 'tvN_Bold';*/
    font-size: 12px;
}

.loginChk span {
    padding: 0 5px;
}

/*myNoteList_style*/
.myNoteHeader .userInfo {
   /* background-color: #f7d767;*/
    padding: 40px 0 20px;
}

.myNoteHeader .userInfo .pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.myNoteHeader .userInfo .pic img {
    width: 100%;
    border-radius: 50%;
}

.myNoteHeader .userInfo .name {
    font-weight: bold;
    padding-bottom: 5px;
}

.myNoteHeader .userInfo .name span {
    font-size: 18px;
}

.myNoteHeader .userInfo .note .updateNote {
    padding-bottom: 15px;
}

.myNoteHeader .userInfo .note .updateNote p {
    font-weight: bold;
    display: inline-block;
}

.myNoteHeader .userInfo .note .updateNote p:first-child {
    padding-right: 10px;
    margin-right: 5px;
    border-right: 1px solid #ccc;
}

.myNoteHeader .userInfo .note .updateNote span {
    color: darkblue;
    font-style: italic;
}
.myNoteHeader .userInfo .note .profilTxt{
    display: inline-block;
   /* background-color: #eee;*/
} 
.noteInner {
    width: 768px;
    margin: 0 auto;
}
.myNoteNav {
    height: 49px;
    line-height: 49px;
    /*background-color: #f7d767;*/
    border-bottom: 1px solid #ccc;
}

.myNoteNav ul li {
    text-align: left;
}

.myNoteNav ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    border-bottom: 2px solid #008a77;
    font-size: 14px;
    font-weight: bold;
}

.myNoteList {
    background-color: #fff;
    padding: 20px;
}

.myNoteList ul li {
    text-align: left;
}

.postDefault {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

.postDefault .newBtn2 a {
    display: inline-block;
    color: #ccc;
    font-size: 12px;
    padding: 10px;
}
.myNoteList ul{
    width: 100%;
}
.myNoteList li.post{
    height: 120px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.post1{
    width: 100%;
    /*height: 50px;
    line-height: 50px;*/
    border-top:1px solid #ccc;
    border-left:2px solid darkcyan;
    border-right:1px solid #ccc;
    /*background: #ccc;*/
    /*border-left: 3px solid darkcyan;*/
}
.post1 .left{width: 20%;}
.post1 a{display: block;}
.post1 div{float: left;}
.post1 .postNum{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
}
.post1 .postThum1{
    width: 70px;
    height: 50px;
}
.post1 .postThum1 img{
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.post1 .postTit{
    width: 50%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
}
.post1 .postDate{
    width: 20%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.post1 .bookmark{
    width: 10%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.subPost1{
    border-top:1px solid #ccc;
    
    display: none;
    position: relative;
}
.subPost1 .sinner{ padding: 10px 20px 50px 50px; }
.subPost1 .subBtn{position: absolute; right: 10px; bottom:0;}
.subPost1Txt{text-align: justify;}
.subBtn ul{}
.subBtn ul li{ float: left; padding: 10px;}
.subBtn ul li a{font-size: 16px;}



.postBtn{
    height: 50px;
    line-height: 50px;
    text-align: right;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}
.postBtn div{
    float: left;
}
.postBtn i{
    font-size: 18px;
}
.postBtn .search{
    text-align: left;
    width: 90%;
}
.postBtn .search .searchForm{
    position: relative;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    
}
.postBtn .search .searchForm input#search{
  width: 300px;
  padding: 10px;
  background: #fff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  
  border: 1px solid #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
    
    -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
}
.postBtn .search .searchForm input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.postBtn .search .searchForm input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.postBtn .search .searchForm input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.postBtn .search .searchForm input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.postBtn .search .searchForm .icon{
  position: absolute;
  margin-top: -2px;
  margin-left: 15px;
  /*top: 50%;
  
  margin-top: 17px;*/
  vertical-align: middle;
  z-index: 1;
  color: #4f5b66;
}
.postBtn .search .searchForm input#search:hover, .postBtn .search .searchForm input#search:focus, .postBtn .search .searchForm input#search:active{
    outline:none;
    background: #ffffff;
  }
.postBtn .delete{
    text-align: center;
    width: 10%;
}
.post .postWrap{float: left;}
.post .center{position: relative; width: 70%; height: 100%}
.post .left{width: 20%; height: 100%; text-align: left;}
.post .right{width: 10%; height: 100%; text-align: center; line-height: 120px;}
.post .postWrap .postThum{width: 120px; height: 120px;}
.post .postWrap .postThum img{width: 100%;}
.post .postWrap .postTit{font-size: 18px; font-weight: bold; padding-bottom: 10px;}
.post .postWrap .postSub{
    display: -webkit-box;
    /*max-height: px;*/
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.post .postWrap .postDate{
    position: absolute;
    bottom: 0;
    color: #ccc;
    font-weight: bold;
}
.post .postWrap .deleteBtn i:hover{
    color: darkred;
}

.post .postWrap .deleteBtn{
    font-size: 18px;
}
.pageNum{
    padding-bottom: 30px;
}
.pageNum ul{height: 25px; line-height: 25px;}
.pageNum ul li{display: inline-block; vertical-align: middle; padding: 0 5px;}
.pageNum ul li a{color: #ccc; font-size: 14px; font-weight: bold;}
.pageNum ul li a.on{color: darkcyan; font-size: 16px;}